<!-- Footer starts here -->
   </div> 
<!--   END OF MAIN-->
    <div class="ui bottom fixed inverted menu" id="footer">
        <p>
            Make with <i class="ui icon heart maroon"></i> By <a href="" class="maroon"> MayK</a>
        </p>
    </div>
    
    
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
    
  </body>
</html>