<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bloq</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

  </head>
  <body>
      <div class="main">
        <div class="ui inverted menu" id="navbar">
          <div class="ui container">
              <div class="header item">
                <i class="code icon"></i>Bloq
              </div>
              <a class="item" href="/blogs">Blog Site</a>
              <a class="item" href="/">Home</a>
              <a class="item" href="/blogs/new">New Post</a>
          </div>
        </div> 
<!--        end of header menu-->
      
      
    




